h1 {
	font-family: 'Lobster', cursive;
	font-weight: 500;
	line-height: 1.1;
	color: red;
}

h2 {
	font-family: 'Lobster', cursive;
	font-weight: 500;
	line-height: 1.1;
	color: red;
}

h3 {
	font-weight: 500;
	line-height: 1.1;
	color: red;
}

h4{
	color: blue;
}


